@model IEnumerable<QuanLyThuVien_DA.Models.FITHOU_LIB_DeXuatTheLoaiView>
@{
    ViewBag.Title = "Danh sách đề xuất thể loại";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Họ Tên</th>
            <th>Email</th>
            <th>Tên Thể Loại</th>
            <th>Lý Do Đề Xuất</th>
            <th>Ngày Đề Xuất</th>
            <th>Trạng Thái</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-dexuat-id="@item.ID">
                <td>@item.HoTen</td>
                <td>@item.Email</td>
                <td>@item.TenTheLoai</td>
                <td>@item.LyDoDeXuat</td>
                <td>@item.NgayDeXuat.ToString("dd/MM/yyyy")</td>
                <td>@(item.TrangThai ? "Đã duyệt" : "Chưa duyệt")</td>
                <td>
                    @if (item.TrangThai == false)
                    {
                        <button class="btn btn-danger btn-sm delete-btn">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-success btn-sm confirm-btn" data-id="@item.ID" @(item.TrangThai ? "style='display: none;'" : "")>
                            <i class="fa fa-check"></i>
                        </button>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Pagination != null)
{
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (ViewBag.Pagination.PageNumber > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("IndexPheDuyet", new { page = ViewBag.Pagination.PageNumber - 1 })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= ViewBag.Pagination.PageTotal; i++)
                {
                    <li class="page-item @(i == ViewBag.Pagination.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("IndexPheDuyet", new { page = i })">@i</a>
                    </li>
                }
                @if (ViewBag.Pagination.PageNumber < ViewBag.Pagination.PageTotal)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("IndexPheDuyet", new { page = ViewBag.Pagination.PageNumber + 1 })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}

<!-- Modal xóa -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa đề xuất này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- Toast -->
<div aria-live="polite" aria-atomic="true" style="position: relative; z-index: 9999;">
    <div id="toastContainer" style="position: fixed; top: 20px; right: 20px;">
        <div class="toast" id="actionToast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000">
            <div class="toast-header">
                <strong class="mr-auto" id="toastTitle">Thông báo</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" id="toastMessage"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Xử lý sự kiện khi nhấn nút Xác nhận
            $('.confirm-btn').click(function () {
                var button = $(this); // Get the button that was clicked
                var dexuatID = button.data('id');
                confirmDeXuat(dexuatID, button);
            });

            // Hàm gọi Ajax để xác nhận đề xuất
            function confirmDeXuat(dexuatID, button) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Confirm", "DeXuatPheDuyet")',
                    data: { id: dexuatID },
                    success: function (response) {
                        if (response.success) {
                            showToast('Đã phê duyệt', 'success');

                        } else {
                            showToast('Lỗi!!!', 'danger');
                        }
                    },
                    error: function () {
                        showToast('Lỗi!!!', 'danger');
                    }
                });
            }

            // Xử lý sự kiện khi nhấn nút Xóa
            $('.delete-btn').click(function () {
                var dexuatIdToDelete = $(this).closest('tr').data('dexuat-id');
                $('#deleteModal').modal('show');

                // Xử lý sự kiện khi nhấn nút Xác nhận xóa trong modal
                $('#confirmDeleteBtn').click(function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "DeXuatPheDuyet")',
                        data: { id: dexuatIdToDelete },
                        success: function (response) {
                            if (response.success) {
                                $('#deleteModal').modal('hide');
                                showToast('Xóa thành công!', 'success');
                            } else {
                                showToast('Lỗi khi xóa!', 'danger');
                            }
                        },
                        error: function () {
                            showToast('Lỗi khi xóa!', 'danger');
                        }
                    });
                });
            });

            // Hàm hiển thị Toast thông báo và sau đó tải lại trang
            function showToast(message, type) {
                $('#toastTitle').text(type === 'success' ? 'Thành công' : 'Lỗi');
                $('#toastMessage').text(message);
                var toastElement = $('#actionToast');
                toastElement.removeClass('bg-success bg-danger bg-warning').addClass('bg-' + type);
                toastElement.toast('show');

                // Đặt thời gian trễ trước khi ẩn toast
                setTimeout(function () {
                    $('#actionToast').toast('hide'); // Ẩn toast sau khi đã trễ
                    location.reload();
                }, 2000); // Thời gian hiển thị toast trước khi biến mất (ms)
            }
        });
    </script>
}

<style>
    tr, td {
        color: black;
    }
</style>
