@model IEnumerable<QuanLyThuVien_DA.Models.FITHOU_LIB_DocumentsView>
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@{
    // Lấy thông tin từ Session
    var userID = Session["UserID"];
    var userName = Session["UserName"];
    var userRole = Session["UserRole"];
}


<h2 class="font-weight-bold mb-4 text-primary">Danh sách tài liệu</h2>

<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <form class="form-inline">
                <select class="form-control mr-sm-2" id="TheLoaiTaiLieuID" name="TheLoaiTaiLieuID">
                    <option value="">Tất cả</option>
                    @foreach (var item in (SelectList)ViewBag.TheLoaiList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <input type="text" id="searchTerm" name="searchTerm" class="form-control mr-sm-2" placeholder="Tìm kiếm tài liệu">
                <button type="button" class="btn btn-primary" onclick="searchDocuments()">Tìm kiếm</button>
            </form>
        </div>
    </div>
    <div class="row" id="documentList">
        @foreach (var document in Model)
        {
            <div class="col-md-2_4 col-sm-6 mb-4">
                <div class="card">
                    <a href="@Url.Action("Details", "Home", new { id = document.ID })">
                        <img src="@Url.Content("~/Image/" + document.AnhNen)" class="card-img-top" alt="@document.TenTaiLieu">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" data-toggle="tooltip" title="@document.TenTaiLieu">
                            <a href="@Url.Action("Details", "Home", new { id = document.ID })" class="text-black">@document.TenTaiLieu</a>
                        </h5>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="d-flex justify-content-center" id="pagination">
        @if (ViewBag.Pagination != null)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (ViewBag.Pagination.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="searchDocuments(@ViewBag.Pagination.PageNumber - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.Pagination.PageTotal; i++)
                    {
                        <li class="page-item @(i == ViewBag.Pagination.PageNumber ? "active" : "")">
                            <a class="page-link" href="#" onclick="searchDocuments(@i)">@i</a>
                        </li>
                    }
                    @if (ViewBag.Pagination.PageNumber < ViewBag.Pagination.PageTotal)
                    {
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="searchDocuments(@ViewBag.Pagination.PageNumber + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>

@section Scripts {
    <script>
    function searchDocuments(page = 1) {
    var searchTerm = $('#searchTerm').val();
    var categoryId = $('#TheLoaiTaiLieuID').val();

    // If "Tất cả" is selected, set categoryId to null or empty string
    if (categoryId === "") {
        categoryId = null;
    }

    $.ajax({
        url: '@Url.Action("GetDocumentsByCategory", "Home")',
        type: 'GET',
        data: {
            TheLoaiTaiLieuID: categoryId,
            searchTerm: searchTerm,
            page: page
        },
        success: function (response) {
            var documentList = $('#documentList');
            documentList.empty();
           if (response.documents.length > 0) {
                $.each(response.documents, function (index, document) {
                    var documentHtml = '<div class="col-md-2_4 col-sm-6 mb-4">' +
                        '<div class="card">' +
                        '<a href="/Home/Details/' + document.ID + '">' +
                        '<img src="@Url.Content("~/Image/")' + document.AnhNen + '" class="card-img-top" alt="' + document.TenTaiLieu + '">' +
                        '</a>' +
                        '<div class="card-body">' +
                        '<h5 class="card-title" data-toggle="tooltip" title="' + document.TenTaiLieu + '">' +
                        '<a href="/Home/Details/' + document.ID + '" class="text-black">' + document.TenTaiLieu + '</a>' +
                        '</h5>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                    documentList.append(documentHtml);
                });
            } else {
                documentList.append('<div class="col-md-12"><p class="text-center">Không tìm thấy tài liệu phù hợp.</p></div>');
            }
            var pagination = $('#pagination');
            pagination.empty();
            var paginationHtml = '<nav aria-label="Page navigation example"><ul class="pagination">';
            if (response.pagination.PageNumber > 1) {
                paginationHtml += '<li class="page-item"><a class="page-link" href="#" onclick="searchDocuments(' + (response.pagination.PageNumber - 1) + ')" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
            }
            for (var i = 1; i <= response.pagination.PageTotal; i++) {
                paginationHtml += '<li class="page-item ' + (i == response.pagination.PageNumber ? "active" : "") + '"><a class="page-link" href="#" onclick="searchDocuments(' + i + ')">' + i + '</a></li>';
            }
            if (response.pagination.PageNumber < response.pagination.PageTotal) {
                paginationHtml += '<li class="page-item"><a class="page-link" href="#" onclick="searchDocuments(' + (response.pagination.PageNumber + 1) + ')" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
            }
          
            paginationHtml += '</ul></nav>';
            pagination.append(paginationHtml);
        }
    });
}

    $('#TheLoaiTaiLieuID').change(function () {
        searchDocuments();
    });

    // Trigger search on enter key press in the search box
    $('#searchTerm').on('keypress', function (e) {
        if (e.which == 13) {
            searchDocuments();
        }
    });
    </script>
}


<style>
    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0; /* Optional: Remove default margin bottom */
    }
    .card-img-top {
        width: 100%; /* Đảm bảo ảnh rộng bằng 100% chiều rộng của thẻ cha */
        height: auto; /* Đảm bảo chiều cao tự điều chỉnh để giữ tỷ lệ */
        object-fit: cover; /* Đảm bảo ảnh không bị bóp méo, đầy đủ kích thước và căn giữa */
        max-width: 100%; /* Giới hạn kích thước tối đa của ảnh */
        max-height: 200px; /* Giới hạn chiều cao tối đa của ảnh để tránh quá lớn */
    }

        .card-title:hover {
            width: auto; /* Thay đổi chiều rộng khi hover */
            overflow: visible; /* Hiển thị đầy đủ nội dung */
        }

    h2 {
        text-align: center; /* Căn giữa nội dung của h2 */
        margin-top: 20px; /* Khoảng cách từ trên xuống */
        margin-bottom: 20px; /* Khoảng cách từ dưới lên */
    }
    span {
        color: black;
    }

    .col-md-2_4 {
        flex: 0 0 auto;
        width: 20%; /* 1/5 chiều rộng */
    }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>