@model QuanLyThuVien_DA.Models.FITHOU_LIB_Users

@{
    // Lấy thông tin từ Session
    var userID = Session["UserID"];
    var userName = Session["UserName"];
    var userRole = Session["UserRole"];
    bool isFirstLogin = (bool)Session["IsFirstLogin"];
}
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2 class=" text-center font-weight-bold mb-4 text-primary">Lịch sử hoạt động</h2>

<div>
    @Html.Partial("_LichSuTruyCap", ViewBag.AccessHistory as IEnumerable<QuanLyThuVien_DA.Models.FITHOU_LIB_HistoryView>)
</div>


<!-- Button Profile -->
@if (userID != null)
{
    <div style="position: fixed; top: 10px; right: 10px;">
        <a class="nav-link edit-btn text-dark" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small font-weight-bold">Xin chào, @userName</span>
        </a>

        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item edit-btn" id="openProfileModal">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Chỉnh sửa thông tin cá nhân
            </a>
            @if (!userRole.Equals("Sinh viên") && !userRole.Equals("Giảng viên"))
            {
                <a class="dropdown-item" href="~/Admin/Default">
                    <i class="fas fa-toolbox fa-sm fa-fw mr-2 text-gray-400 mt-2"></i>
                    Trang quản trị
                </a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="~/Home/Logout">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Đăng xuất
            </a>

        </div>
    </div>
}
else
{
    <div style="position: fixed; top: 10px; right: 10px;">
        <a class="nav-link" href="@Url.Action("Login", "Home")">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small text-dark font-weight-bold">Đăng nhập</span>
        </a>
    </div>
}


<!-- Modal Sửa Profile -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Chỉnh sửa thông tin cá nhân</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="profileForm" class="needs-validation" novalidate>
                    <input type="hidden" id="UserId" name="UserId" value="@userID">
                    <div class="row mb-3">
                        <label for="HoTen" class="col-sm-3 col-form-label text-end">Họ Tên</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="HoTen" name="HoTen" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="MaSinhVien" class="col-sm-3 col-form-label text-end">Tài khoản</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="MaSinhVien" name="MaSinhVien" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="SoDienThoai" class="col-sm-3 col-form-label text-end">Số Điện Thoại</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="SoDienThoai" name="SoDienThoai" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Email" class="col-sm-3 col-form-label text-end">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="Email" name="Email" placeholder="abc@students.hou.edu.vn" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#changePasswordModel">Đổi mật khẩu</button>
                <button type="button" class="btn btn-primary" id="saveProfileChangesBtn">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>

<!-- Đổi mật khẩu -->
<div class="modal fade" id="changePasswordModel" tabindex="-1" aria-labelledby="changePWModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePWModalLabel">Đổi mật khẩu</h5>
                @if ((bool)Session["IsFirstLogin"] != false)
                {
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                }
            </div>
            <div class="modal-body">
                <form id="changePasswordForm" class="needs-validation" novalidate>
                    <input type="hidden" id="UserIdChangePW" name="UserIdChangePW" value="@userID">
                    <div class="row mb-3">
                        <label for="MatKhauMoi" class="col-sm-3 col-form-label text-end">Mật khẩu mới</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="password" class="form-control" id="MatKhauMoi" name="MatKhauMoi" required>
                                <button class="btn btn-outline-secondary" type="button" id="showMatKhauMoi">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="MatKhauMoiRepeat" class="col-sm-3 col-form-label text-end">Xác nhận lại mật khẩu mới</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="password" class="form-control" id="MatKhauMoiRepeat" name="MatKhauMoiRepeat" required>
                                <button class="btn btn-outline-secondary" type="button" id="showMatKhauMoiRepeat">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                @if ((bool)Session["IsFirstLogin"] != false)
                {
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                }
                <button type="button" class="btn btn-primary" id="savePWChangesBtn">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>



@* Toast *@
<div aria-live="polite" aria-atomic="true" style="position: relative; z-index: 9999;">
    <div id="toastContainer" style="position: fixed; top: 20px; right: 20px;">
        <div class="toast" id="actionToast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000">
            <div class="toast-header">
                <strong class="mr-auto" id="toastTitle">Thông báo</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body text-white" id="toastMessage"></div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

            @if ((bool)Session["IsFirstLogin"] == false)
            {
                <text>
                    $('#changePasswordModel').modal('show');
                </text>
            }
            // Xử lý sự kiện khi nhấn nút Profile
            $('#openProfileModal').click(function () {
                openProfileModal();
            });

            // Hàm mở modal chỉnh sửa thông tin cá nhân
            function openProfileModal() {
                $('#profileModalLabel').text('Chỉnh sửa thông tin cá nhân');
                $('#saveProfileChangesBtn').attr('onclick', 'editProfile()');

                // Lấy thông tin người dùng và điền vào form
                $.ajax({
                    url: '@Url.Action("GetUser", "Users")?ID=' + $('#UserId').val(),
                    type: 'GET',
                    success: function (response) {
                        $('#UserId').val(response.ID);

                        // Chỉ được quyền xem
                        $('#HoTen').prop('readonly', true);
                        $('#MaSinhVien').prop('readonly', true);

                        $('#HoTen').val(response.HoTen);
                        $('#MaSinhVien').val(response.MaSinhVien);
                        $('#SoDienThoai').val(response.SoDienThoai);
                        $('#Email').val(response.Email);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error: " + error);
                        console.error("Response: " + xhr.responseText);
                        showToast('Lỗi !!! ' + error, 'danger');
                    }
                });

                $('#profileModal').modal('show');
            }
        });

        function editProfile() {
            var form = $('#profileForm');
            if (form[0].checkValidity() === false) {
                form.addClass('was-validated');
                return;
            }

            var formData = new FormData(form[0]);
            formData.append('ID', $('#UserId').val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditProfile", "Home")',
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $('#profileModal').modal('hide');
                        showToast('Cập nhật thành công!', 'success');

                        // Cập nhật lại tên người dùng hiển thị
                        $('.nav-link.edit-btn .text-white').text('Xin chào, ' + response.userName);
                    } else {
                        showToast('Lỗi!', 'danger');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error: " + error);
                    console.error("Response: " + xhr.responseText);
                    showToast('Lỗi!', 'danger');
                }
            });

        }

        $('#showMatKhauMoi').click(function () {
            var input = $('#MatKhauMoi');
            var icon = $(this).find('i');

            if (input.attr('type') === 'password') {
                input.attr('type', 'text');
                icon.removeClass('fa-eye').addClass('fa-eye-slash');
            } else {
                input.attr('type', 'password');
                icon.removeClass('fa-eye-slash').addClass('fa-eye');
            }
        });

        $('#showMatKhauMoiRepeat').click(function () {
            var input = $('#MatKhauMoiRepeat');
            var icon = $(this).find('i');

            if (input.attr('type') === 'password') {
                input.attr('type', 'text');
                icon.removeClass('fa-eye').addClass('fa-eye-slash');
            } else {
                input.attr('type', 'password');
                icon.removeClass('fa-eye-slash').addClass('fa-eye');
            }
        });

        // Xử lý sự kiện khi nhấn nút "Đổi mật khẩu"
            $('#ChangePassword').click(function () {
                openChangePasswordModal();
            });

            // Hàm mở modal đổi mật khẩu
            function openChangePasswordModal() {
                $('#changePasswordModel').modal('show');
            }

            // Gắn sự kiện click cho nút "Lưu thay đổi" trong modal đổi mật khẩu
            $('#savePWChangesBtn').click(function () {
                changePassword();
            });

            // Hàm xử lý đổi mật khẩu
            function changePassword() {
                var newPassword = $('#MatKhauMoi').val();
                var confirmPassword = $('#MatKhauMoiRepeat').val();

                // Check if new password is empty
                if (!newPassword) {
                    showToast('Vui lòng nhập mật khẩu', 'danger');
                    return;
                }

                if (!/[A-Z]/.test(newPassword)) {
                    showToast('Mật khẩu phải có ít nhất 1 chữ in hoa.', 'danger');
                    return;
                }

                // Check for at least one lowercase letter
                if (!/[a-z]/.test(newPassword)) {
                    showToast('Mật khẩu phải có ít nhất 1 chữ thường.', 'danger');
                    return;
                }

                // Check for at least one digit
                if (!/\d/.test(newPassword)) {
                    showToast('Mật khẩu phải có ít nhất 1 số.', 'danger');
                    return;
                }

                // Check for at least one special character
                if (!/[\W_]/.test(newPassword)) {
                    showToast('Mật khẩu phải có ít nhất 1 ký tự đặc biệt.', 'danger');
                    return;
                }

                // Check for minimum length
                if (newPassword.length < 7) {
                    showToast('Mật khẩu phải có ít nhất 7 ký tự.', 'danger');
                    return;
                }

                // Kiểm tra mật khẩu mới và xác nhận mật khẩu mới
                if (newPassword !== confirmPassword) {
                    showToast('Mật khẩu mới và xác nhận mật khẩu mới không khớp.', 'danger');
                    return;
                }

                // Gửi yêu cầu đổi mật khẩu đến máy chủ
                var userId = $('#UserId').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangePassword", "Home")',
                    data: { ID: userId, MatKhauHash: newPassword },
                    success: function (response) {
                        if (response.success) {
                            $('#changePasswordModel').modal('hide');
                            showToast('Đổi mật khẩu thành công!', 'success');

                        } else {
                            showToast('Đổi mật khẩu thất bại. Vui lòng thử lại sau.', 'danger');
                        }
                    },
                    error: function () {
                        showToast('Đã xảy ra lỗi khi đổi mật khẩu. Vui lòng thử lại sau.', 'danger');
                    }
                });
            }


        // Hiển thị Toast thông báo và sau đó tải lại trang
        function showToast(message, type) {
            $('#toastTitle').text(type === 'success' ? 'Thành công' : 'Lỗi');
            $('#toastMessage').text(message);
            var toastElement = $('#actionToast');
            toastElement.removeClass('bg-success bg-danger bg-warning').addClass('bg-' + type);
            toastElement.toast('show');

            // Đặt thời gian trễ trước khi ẩn toast
            setTimeout(function () {
                $('#actionToast').toast('hide'); // Ẩn toast sau khi đã trễ
            }, 3000); // Thay đổi số 3000 thành thời gian (trong miligiây) bạn muốn hiển thị toast trước khi biến mất
        }
    </script>
}

