@model IEnumerable<QuanLyThuVien_DA.Models.FITHOU_LIB_TinTucSuKienView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@{
    // Lấy thông tin từ Session
    var userID = Session["UserID"];
    var userName = Session["UserName"];
    var userRole = Session["UserRole"];
}


<h2 class="font-weight-bold mb-4 text-primary">Danh sách tin tức</h2>

<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <form class="form-inline">
                <input type="text" id="searchTerm" name="searchTerm" class="form-control mr-sm-2" placeholder="Tìm kiếm tin tức">
                <button type="button" class="btn btn-primary" onclick="searchNews()">Tìm kiếm</button>
            </form>
        </div>
    </div>

    <div id="newsList">
        @foreach (var news in Model)
        {
            <div class="post-box news-item col-md-12">
                <!-- Sử dụng col-md-6 để mỗi tin tức chiếm 1/2 width trên màn hình lớn và lớn hơn -->
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-1">
                            <!-- Cột ảnh -->
                            <a href="@Url.Action("Details", "News", new { id = news.ID })">
                                <img src="@Url.Content("~/Image/" + news.AnhNen)" class="card-img p-1 mt-1" alt="@news.TieuDe">
                            </a>
                        </div>
                        <div class="col-md-11">
                            <!-- Cột nội dung -->
                            <div class="card-body">
                                <h5 class="card-title" data-toggle="tooltip" title="@news.TieuDe">
                                    <a href="@Url.Action("Details", "News", new { id = news.ID })" class="text-black">@news.TieuDe</a>
                                </h5>
                                <h6><i class="far fa-clock mr-2"></i> Ngày đăng: @news.NgayDang.ToString("dd/MM/yyyy")</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    <div class="d-flex justify-content-center" id="pagination">
        @if (ViewBag.Pagination != null)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (ViewBag.Pagination.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="searchNews(@(ViewBag.Pagination.PageNumber - 1))" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.Pagination.PageTotal; i++)
                    {
                        <li class="page-item @(i == ViewBag.Pagination.PageNumber ? "active" : "")">
                            <a class="page-link" href="#" onclick="searchNews(@i)">@i</a>
                        </li>
                    }
                    @if (ViewBag.Pagination.PageNumber < ViewBag.Pagination.PageTotal)
                    {
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="searchNews(@(ViewBag.Pagination.PageNumber + 1))" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>

@section Scripts {
    <script>
     function searchNews(pageNumber = 1) {
        var searchTerm = $('#searchTerm').val();
        $.ajax({
            url: '@Url.Action("Index", "News")',
            type: 'GET',
            data: {
                page: pageNumber,
                searchTerm: searchTerm
            },
            success: function (response) {
                var newsList = $('#newsList');
                newsList.empty();

                if (response && response.length > 0) { // Kiểm tra nếu có dữ liệu trả về
                    $.each(response, function (index, news) {
                        var formattedDate = formatDateFromEpoch(news.NgayDang);
                        var newsHtml = '<div class="post-box news-item col-md-12">' +
                            '<div class="card mb-3">' +
                            '<div class="row no-gutters">' +
                            '<div class="col-md-1">' +
                            '<a href="@Url.Action("Details", "News")/' + news.ID + '">' +
                            '<img src="@Url.Content("~/Image/")' + news.AnhNen + '" class="card-img p-1 mt-1" alt="' + news.TieuDe + '">' +
                            '</a>' +
                            '</div>' +
                            '<div class="col-md-11">' +
                            '<div class="card-body">' +
                            '<h5 class="card-title" data-toggle="tooltip" title="' + news.TieuDe + '">' +
                            '<a href="@Url.Action("Details", "News")/' + news.ID + '" class="text-dark">' + news.TieuDe + '</a>' +
                            '</h5>' +
                            '<h6><i class="far fa-clock mr-2"></i> Ngày đăng: ' + formattedDate + '</h6>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        newsList.append(newsHtml);
                    });
                } else {
                    newsList.append('<div class="col-md-12"><p class="text-center">Không tìm thấy tin tức phù hợp.</p></div>');
                }

                // Cập nhật lại thanh phân trang nếu có
                if (response.paginationHtml) {
                    $('#pagination').html(response.paginationHtml);
                }
            },
            error: function () {
                $('#newsList').html('<div class="col-md-12"><p class="text-center">Đã xảy ra lỗi khi tìm kiếm tin tức.</p></div>');
            }
        });

        }
        // Hàm chuyển đổi ngày từ Epoch sang định dạng ngày tháng năm
        function formatDateFromEpoch(epochTime) {
            var date = new Date(parseInt(epochTime.substr(6))); // Cắt bỏ '/Date(' và ')' và chuyển đổi sang số nguyên
            var formattedDate = ('0' + date.getDate()).slice(-2) + '/'
                + ('0' + (date.getMonth() + 1)).slice(-2) + '/'
                + date.getFullYear();
            return formattedDate;
        }
    </script>
}

<style>
    /* CSS để hiển thị mỗi tin tức theo chiều ngang */
        .news-item img {
          
            max-width: 100px; /* Kích thước tối đa của hình ảnh */
        }

        .news-item .card-body {
            flex-grow: 1; /* Chỉnh độ rộng để tiêu đề chiếm phần còn lại */
        }

    h2 {
        text-align: center; /* Căn giữa nội dung của h2 */
        margin-top: 20px; /* Khoảng cách từ trên xuống */
        margin-bottom: 20px; /* Khoảng cách từ dưới lên */
    }

    span {
    }
</style>