@model QuanLyThuVien_DA.Models.FITHOU_LIB_CommentPostDetails

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@{
    var userID = Session["UserID"];
    var userName = Session["UserName"];
    var userRole = Session["UserRole"];
}
@* Toast *@
<div aria-live="polite" aria-atomic="true" style="position: relative; z-index: 9999;">
    <div id="toastContainer" style="position: fixed; top: 20px; right: 20px;">
        <div class="toast" id="actionToast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000">
            <div class="toast-header">
                <strong class="mr-auto" id="toastTitle">Thông báo</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body text-white" id="toastMessage"></div>
        </div>
    </div>
</div>

<!-- Modal Xóa -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa bình luận này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Xóa</button>
            </div>
        </div>
    </div>
</div>

@* Main *@
<div class="container details-container mt-3">
    <div class="row details-content">
        <div class="col-12">
            <h3 class="text-center font-weight-bold text-primary">@Model.TieuDe</h3>
            <p class=" small text-black">
                <i class="fas fa-user text-primary mr-1"></i> @Model.HoTen &nbsp;&nbsp;
                <i class="far fa-clock text-warning mr-1"></i> @Model.NgayTao.ToString("dd/MM/yyyy HH:mm")
            </p>
            <div>@Html.Raw(Model.NoiDung)</div>
        </div>
    </div>

</div>
<div class="container border p-4">
    <h3 class="text-center font-weight-bold m-4 text-primary">Danh sách bình luận</h3>
    <div style="max-height: 400px; overflow-y: auto;">
        <div id="commentsSection">
            <div>
                @Html.Partial("_LoadComments", Model.Comments)
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-9">
            <!-- Increase column size to give more space -->
            @if (userID != null)
            {
                <div class="form-container">
                    <form id="commentForm" class="d-flex">
                        @Html.HiddenFor(model => model.BaiDangID)
                        @Html.Hidden("UserID", userID)
                        <div class="flex-grow-1 mr-2">
                            @Html.TextAreaFor(model => model.BinhLuan, new { @class = "form-control", rows = 1, placeholder = "Viết bình luận...", style = "resize: none;" })
                        </div>
                        <div class="flex-shrink-0">
                            <button type="submit" class="btn btn-primary">Bình luận</button>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="text-center">
                    <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Đăng nhập</a>
                </div>
            }
        </div>
    </div>
</div>




@section Scripts {
    <script>
        $(document).ready(function () {
            $('#commentForm').submit(function (event) {
                event.preventDefault();

                $.ajax({
                    url: '@Url.Action("AddComment", "Forum")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            showToast('Gửi thành công!', 'success');
                            $('#commentForm')[0].reset();
                            reloadCommentSection();
                        } else {
                            showToast('Lỗi khi gửi!', 'danger');
                        }
                    },
                    error: function (xhr, status, error) {
                        showToast('Lỗi', 'danger');
                    }
                });
            });

            $(document).on('click', '.delete-btn', function () {
                var binhluanId = $(this).closest('.comment-box').data('binhluan-id');
                $('#deleteModal').modal('show');

                $('#confirmDeleteBtn').off('click').on('click', function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteComment", "Forum")',
                        data: { ID: binhluanId },
                        success: function (response) {
                            if (response.success) {
                                $('#deleteModal').modal('hide');
                                showToast('Xóa bình luận thành công!', 'success');
                                reloadCommentSection();
                            } else {
                                showToast('Lỗi khi xóa bình luận!', 'danger');
                            }
                        },
                        error: function () {
                            showToast('Lỗi khi xóa bình luận!', 'danger');
                        }
                    });
                });
            });

            function showToast(message, type) {
                $('#toastTitle').text(type === 'success' ? 'Thành công' : 'Lỗi');
                $('#toastMessage').text(message);
                var toastElement = $('#actionToast');
                toastElement.removeClass('bg-success bg-danger bg-warning').addClass('bg-' + type);
                toastElement.toast('show');
            }

            function reloadCommentSection() {
                var postId = '@Model.BaiDangID';
                $.ajax({
                    url: '@Url.Action("LoadComments", "Forum")',
                    type: 'GET',
                    data: { postId: postId },
                    success: function (data) {
                        $('#commentsSection').html(data);
                    },
                    error: function (xhr, status, error) {
                        showToast('Lỗi khi tải bình luận!', 'danger');
                    }
                });
            }
            attachEventHandlers();
        });

        function attachEventHandlers() {
            $('.delete-btn').off('click').on('click', function () {
                var binhluanId = $(this).closest('.comment-box').data('binhluan-id');
                $('#deleteModal').modal('show');
                $('#confirmDeleteBtn').off('click').on('click', function () {
                    deleteComment(binhluanId);
                });
            });
        }


    </script>
}


<style>
    .form-container {
        max-width: 600px; /* Adjust the max-width as needed */
        width: 100%;
        margin: 0 auto; /* Center the form */
        background-color: white; /* Nền trắng */
        color: black; /* Chữ đen */
        padding: 20px; /* Thêm khoảng cách xung quanh */
        border-radius: 5px; /* Bo tròn các góc */
        border: 1px solid #ddd; /* Thêm viền nhạt */
    }

    textarea.form-control {
        width: 100%;
        background-color: white; /* Nền trắng */
        color: black; /* Chữ đen */
    }

    .details-container {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: white; /* Nền trắng */
        color: black; /* Chữ đen */
    }

    .details-content {
        margin-top: 20px;
    }

    .comment-box {
        background-color: #f9f9f9;
        color: black; /* Chữ đen */
    }

    .comment-info {
        color: #999;
    }

        .comment-info i {
            margin-right: 5px;
        }
</style>
